<script src="{{ "/assets/js/jquery-2.1.3.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.pjax.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/nprogress.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}

<script>
	var array = ["/assets/audio/hongsushou.mp3",
				 "/assets/audio/gaoya.mp3"];
	var i = 0;
	var isShow = true;
	var audio = document.getElementById("audio-id");	
	var show = document.getElementById("audio-show-id");
	var up = document.getElementById("audio-up-id");
	var next = document.getElementById("audio-next-id");
	audio.setAttribute("src",array[i]);
	audio.load();
	audio.play();
	show.innerHTML="隐";
	show.setAttribute("title","隐藏音乐条");
	up.innerHTML="上";
	next.innerHTML="下";
	audio.onmousemove = function(){
		audio.setAttribute("title","第"+(i+1)+"首曲");
	};
	audio.onended = function(){
		if(i == array.length - 1) i = 0; else i++;
		audio.setAttribute("src",array[i]);
		audio.load();
		audio.play();
	};
	show.onclick = function(){
		if(isShow){
			audio.style.transform = "translateX(120%)";
			audio.style.WebkitTransform = "translateX(120%)";
			audio.style.transition = "transform 1s cubic-bezier(0.770, 0.000, 0.175, 1.000)";
			audio.style.WebkitTransition = "transform 1s cubic-bezier(0.770, 0.000, 0.175, 1.000)";
			up.style.display = "none";
			next.style.display = "none";
			show.style.background = "linear-gradient(90deg,#C2E987,#309E85)";
			show.innerHTML="显";
			show.setAttribute("title","显示音乐条");
			isShow=false;
		}else{
			audio.style.transform = "translateX(0%)";
			audio.style.WebkitTransform = "translateX(0%)";
			audio.style.transition = "transform 1s cubic-bezier(0.770, 0.000, 0.175, 1.000)";
			audio.style.WebkitTransition = "transform 1s cubic-bezier(0.770, 0.000, 0.175, 1.000)";
			up.style.display = "block";
			next.style.display = "block";
			show.style.background = "linear-gradient(90deg,#309E85,#C2E987)";
			show.innerHTML="隐";
			show.setAttribute("title","隐藏音乐条");
			isShow=true;
		}
	};
	up.onclick = function(){
		if(i == 0) i = array.length - 1; else i--;
		audio.setAttribute("src",array[i]);
		audio.load();
		audio.play();
	};
	up.onmousemove = function(){
		if(i == 0) up.setAttribute("title","上一首曲"+array.length); else up.setAttribute("title","上一首曲"+i);
	};
	next.onclick = function(){
		if(i == array.length - 1) i = 0; else i++;
		audio.setAttribute("src",array[i]);
		audio.load();
		audio.play();
	};
	next.onmousemove = function(){
		if(i == array.length - 1) next.setAttribute("title","下一首曲"+1); else next.setAttribute("title","下一首曲"+(i+2));
	};
</script>