
#audio-id
  position: fixed
  right: 2*$menu-size				  
  z-index: 30				  
  max-width: 80%

.audio-btn
  position: fixed
  right: $menu-right
  width: $menu-size
  height: $menu-size
  z-index: 30
  background: $sidebar-rebg
  color: white
  text-align: center
  font-size: $menu-font-size
  font-weight: bold
  line-height: $menu-font-size
  border-radius: 50px
  cursor: pointer

#audio-up-id
  right: $menu-size  
  
#audio-next-id
  top: $menu-size
  right: $menu-size
  
#menu
  display: none
  position: fixed
  top: $menu-top
  right: $menu-right
  z-index: 30
  width: $menu-size
  height: $menu-size
  padding: 0
  background: transparent
  border: none
  border-radius: 50px
  outline: none
  overflow: hidden
  cursor: pointer
  &-icons
    display: block
    width: 200%
    height: $menu-size
    margin-left: -100%
    @extend %icon
    font-size: $menu-font-size
    font-weight: bold
    line-height: $menu-size
    color: #fff
    background: $sidebar-bg
    overflow: hidden
    transition: transform .35s $time-function
    &:before
      @extend %icon-left
      float: left
      width: 50%
      background: $sidebar-bg
    &:after
      @extend %icon-right
      float: left
      width: 50%
      background: $sidebar-rebg
  &.open > &-icons
    transform: translateX(50%)
