---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
	<audio id="audio-id" controls></audio>
	<Button id="audio-show-id" class="audio-btn"></Button>		
	<Button id="audio-up-id" class="audio-btn"></Button>
	<Button id="audio-next-id" class="audio-btn"></Button>
	  
    {% include sidebar.html %}

    <main id="main">
      {{ content }}      
    </main>

    <button id="menu">
      <span id="menu-icons"></span>
    </button>

    {% include scripts.html %}
  </body>
</html>
